html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

footer{
outline:1px solid #ccc;
width:99.3%;
padding:5px;
text-align:center;

}

aside {
outline:1px solid black;
padding:5px;
}

nav ul, nav li { margin: 0; }
nav ul, ul { list-style:none; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.col{
  margin-left: 1.7%;
}

.col:first-child {
  margin-left:0;
}

.span1{
  width: 6.95833333333%;
  
}
.span2{
  width: 15.4166666667%;
  
}
.span3{
  width: 23.875%;
  
}
.span4{
  width: 22.3333333333%;
  margin-left:6px;
  
}
.span5{
  width: 40.7916666667%;
  
}
.span6{
  width: 49.25%;
  
}
.span7{
  width: 57.7083333333%;
  
}
.span8{
  width: 76.1666666667%;
  display:inline-block;

}
.span9{
  width: 74.625%;
  
}
.span10{
  width: 83.0833333333%;
  
}
.span11{
  width: 91.5416666667%;
  
}
.span12{
  width: 100%;
  margin-left: 5px;
}

body{
  font-size: 87.5%;
  color: #252e35;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;

}

h1{
    font-size: 1.714285714em; /* 24 / 14 */
    line-height: 1.5em; /* 21 / 14 */
}

h2{
  font-size: 1.5em; /* 21 / 14 */
  line-height: 1.5em; /* 21 / 14 */
}

p{
    font-size: 1em; /* 14 / 14 */
    line-height: 1.5em; /* 21 / 14 */
    margin-bottom: 1.5em; /* 21 / 14 */
}

#container, .inner, footer{
  margin: 5px;
}

header{
  background: #262F37;
}

header h1{
  margin: 7px 0 0 0;
}

#container{
  clear: both;
  padding-top: 20px;
}

.alt{
  color: #fff;
  color: rgba(255,255,255, 0.9);
  letter-spacing: 0.05em;
}

/* NAVIGATION */

nav{
  margin: -15px 0 0 0;
  margin-right:20px;
  float:left;
}

nav ul{
  text-align: right;
  overflow: auto;
  width: 100%;
  padding:3px;
  margin-right:20px;
  margin-top:-6px;
}

nav ul li{
  margin: 3px 0 0 0;
  text-align: center;
  overflow: auto;
  float: left;
  width: 33%;
}

nav ul li:hover{
  background-color:orange;
}

nav a{
  text-decoration: none;
  margin: 0;
  display: block;
  padding: 7px 0 7px 5%;
  margin: 0 0 0 0;
  background-color: rgba(255,255,255,0.1);
}

.logo-block {
width:100%;
}

.logo-img {
    width: 50px;
    height: 50px;
    float:left;
    margin-top:-10px;

}

.logo-name {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
width:85.8%;
margin-top:0px;

}

.right-bar{
outline:1px solid black;
padding:5px;
}

.left-bar {
outline:1px solid black;
padding:5px;
}


/* MEDIA QUERIES */

/* Responsify Defaults */

@media screen and (max-width: 768px){
  nav .span4{
  width:100%;
  }


.right-bar{
outline:1px solid black;
padding:5px;
margin-top:5px;
margin-left:-5px;
}

.left-bar{
outline:1px solid black;
padding:5px;
margin-top:5px;
margin-left:-2px;
}

  .logo-block {
float:left;
width:100%;
padding:5px;
}

 .logo-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
width:100%;
margin-top:-5px;
}

.name-logo {
    margin-left:130px;
    margin-top:10px;
    width:100%;
}

.logo-img {
    width: 50px;
    height: 50px;
    float:left;
    margin-left:170px;

}

body{
width:100%;
margin-right:-10px;
}

 .span8{
 width:100%;
 }

  .span4, aside{
    width: 100%;
    margin-left: 0;
    padding-left:-5px;
  }


  #container, .inner{
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

   footer{
  width:99.3%;
  }
}

@media screen and (max-width: 414px){
  nav {
  margin-top:15px;
  width:100%;
  }

  .logo-name {
    width:100%;
  }

  nav ul li{
    width: 93%;
    margin: 5px 5px 5px 5px;
  }


  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }

  footer{
  width:99.3%;
  }


}

/* Custom Breakpoints */

@media screen and (max-width: px) {
 /* Add your styles for devices with a maximum width of  */
}


/* Micro Clearfix */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}


